<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utscalvin2201792796">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_aplikasi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_aplikasi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MapsActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1gvlqtz5aMG1TAlMnu8pJkiMAEPQ157I" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Complete"></activity>
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".DrinkActivity" />
        <activity android:name=".MainActivity">
            <intent-filter android:label="@string/the_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="Your Api Key" />
        </activity>
    </application>

</manifest>